*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

body{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #3f3f3f;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    width: 100%;
    max-width: 500px;
    margin: 4px;
    background-color: white;
    border-radius: 8px;
    padding: 0 8px 8px 8px;
}

header{
    display: flex;
    direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

h1, span{
    font-size: x-large;
}

canvas{
    width: 100%;
}

div{
    position: relative;
    height: 152px;
    text-align: center;
    font-size: x-small;
}

button{
    position: absolute;
    width: 64px;
    height: 64px;
    font-size: x-large;
}

button:first-child{
    top: 20px;
    left: 50%;
    transform: translateX(-32px);
}

button:nth-child(2){
    top: 54px;
    left: 50%;
    transform: translateX(36px);
}
button:nth-child(3){
    top: 88px;
    left: 50%;
    transform: translateX(-32px);
}
button:nth-child(4){
    top: 54px;
    left: 50%;
    transform: translateX(-100px);
}